<ion-view view-title="Home">
  <ion-content>
    <div class="button-bar bar-positive">
      <a class="button" ng-class="{'active-home-tab':isTabActive(tabConfig.tabs.learnerskatta.tabId)}" on-tap="selectTab(tabConfig.tabs.learnerskatta.tabId)" ng-bind="tabConfig.tabs.learnerskatta.title"></a>
      <a class="button" ng-class="{'active-home-tab':isTabActive(tabConfig.tabs.forum.tabId)}" on-tap="selectTab(tabConfig.tabs.forum.tabId)" ng-bind="tabConfig.tabs.forum.title"></a>
      <a class="button" ng-class="{'active-home-tab':isTabActive(tabConfig.tabs.quiz.tabId)}" on-tap="selectTab(tabConfig.tabs.quiz.tabId)" ng-bind="tabConfig.tabs.quiz.title"></a>
    </div>

    <ui-view name="homecontent-tab"></ui-view>

  </ion-content>
</ion-view>

