<ion-view view-title="Home">
  <ion-content>
   <style>
    .active-home-tab{
        border-color: #387ef5 !important;
        background-color: #0c63ee !important;
    }
    </style>
    <div class="button-bar bar-positive">
      <a class="button" ng-class="{'active-home-tab':isTabActive(tabConfig.tabs.learnerskatta.tabId)}" ng-click="selectTab(tabConfig.tabs.learnerskatta.tabId)" ng-bind="tabConfig.tabs.learnerskatta.title"></a>
      <a class="button" ng-class="{'active-home-tab':isTabActive(tabConfig.tabs.forum.tabId)}" ng-click="selectTab(tabConfig.tabs.forum.tabId)" ng-bind="tabConfig.tabs.forum.title"></a>
      <a class="button" ng-class="{'active-home-tab':isTabActive(tabConfig.tabs.quiz.tabId)}" ng-click="selectTab(tabConfig.tabs.quiz.tabId)" ng-bind="tabConfig.tabs.quiz.title"></a>
    </div>
    <!--<h1>Home</h1>-->

    <ion-nav-view name="homecontent-tab"></ion-nav-view>

  </ion-content>
</ion-view>

