<ion-view view-title="Time table">
  <ion-content>
    <ionic-datepicker input-obj="datepickerObject">
      <button class="button button-block button-positive" style="margin-top:0px; margin-bottom: 0px;">
        <i class="icon ion-calendar"></i> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}
      </button>
    </ionic-datepicker>
    <ion-list>
      <ion-item class="animated fadeInLeft">
        <h3 class="clm-text-bold">Math 1 Test</h3>
        <h4 class="clm-text-italic">Time: 14:00 - 15:00</h4>
        <div class="clm-text-subdued">Test for Math 1, Chapter 3, Titile 1,2,4</div>
      </ion-item>
      <ion-item class="animated fadeInLeft">
        <h3 class="clm-text-bold">Math 1 Test</h3>
        <h4 class="clm-text-italic">Time: 14:00 - 15:00</h4>
        <div class="clm-text-subdued">Test for Math 1, Chapter 3, Titile 1,2,4</div>
      </ion-item>
      <ion-item class="animated fadeInLeft">
        <h3 class="clm-text-bold">Math 1 Test</h3>
        <h4 class="clm-text-italic">Time: 14:00 - 15:00</h4>
        <div class="clm-text-subdued">Test for Math 1, Chapter 3, Titile 1,2,4</div>
      </ion-item>
      <ion-item class="animated fadeInLeft">
        <h3 class="clm-text-bold">Math 1 Test</h3>
        <h4 class="clm-text-italic">Time: 14:00 - 15:00</h4>
        <div class="clm-text-subdued">Test for Math 1, Chapter 3, Titile 1,2,4</div>
      </ion-item>
      <ion-item class="animated fadeInLeft">
        <h3 class="clm-text-bold">Math 1 Test</h3>
        <h4 class="clm-text-italic">Time: 14:00 - 15:00</h4>
        <div class="clm-text-subdued">Test for Math 1, Chapter 3, Titile 1,2,4</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

