/*faculty contact module css*/

.clm-animated-accordian .list .item.item-accordion {
  line-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.49s all linear;
}
.clm-animated-accordian .list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.clm-animated-accordian .list .item.item-accordion.ng-hide-add,
.clm-animated-accordian .list .item.item-accordion.ng-hide-remove {
  display: block !important;
}


/*mentor connect chat plugin style*/

#mentor-section .scroll {
  padding: 10px 0 50px !important;
}

#mentor-section .messages {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-bottom: 20px !important;
}
#mentor-section .messages .message {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  padding: 10px !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  overflow: hidden !important;
  text-align: left !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

#mentor-section .time {
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 auto !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  -webkit-align-self: auto !important;
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
  width: 120px !important;
  text-align: center !important;
  padding: 0 0 0 0 !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  -webkit-transform: translate3d(10px, 0, 0) !important;
  -moz-transform: translate3d(10px, 0, 0) !important;
  transform: translate3d(10px, 0, 0) !important;
}
#mentor-section .time.slide-right {
  -webkit-transform: translate3d(130px, 0, 0) !important;
  -moz-transform: translate3d(130px, 0, 0) !important;
  transform: translate3d(130px, 0, 0) !important;
}

#mentor-section .messages.other .message {
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  text-align: right !important;
}
#mentor-section .messages.other .message.slide-right {
  -webkit-transform: translate3d(120px, 0, 0) !important;
  -moz-transform: translate3d(120px, 0, 0) !important;
  transform: translate3d(120px, 0, 0) !important;
}
#mentor-section .messages.other span {
  color: black !important;
  background-color: #C7C7CC !important;
}

#mentor-section span {
  background: #007AFF !important;
  display: inline-block !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}

/* Custom CSS */

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-text {
  text-align: center;
  display: block;
}
.menu {
  width: 150px;
}
.active-home-tab {
  border-color: #387ef5 !important;
  background-color: #0c63ee !important;
}
.clm-text-bold {
  font-weight: bold
}
.clm-text-italic {
  font-style: italic
}
.clm-text-subdued {
  color: #888;
}
.clm-font-size-24 {
  font-size: 24px
}
.clm-margin-5px {
  margin: 5px
}

.clm-item-animate-fadeinleft.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

.clm-item-animate-fadeinleft.ng-enter-stagger {
  -webkit-animation-delay:200ms;
  animation-delay:200ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}
